/web/bundles/
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/*
/app/*
/src/.htaccess
web/*
src/Klit/Common/RowMapperBundle/Resources/doc/*
src/Klit/Common/RowMapperBundle/Resources/views/*
src/Klit/Common/RowMapperBundle/Resources/config/routing.yml
src/Klit/Common/RowMapperBundle/Resources/config/parameters.yml
