!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/*
/app/*
/src/.htaccess
web/*
src/ChrisAndChris/Common/RowMapperBundle/Resources/doc/*
src/ChrisAndChris/Common/RowMapperBundle/Resources/views/*
src/ChrisAndChris/Common/RowMapperBundle/Resources/config/routing.yml
src/ChrisAndChris/Common/RowMapperBundle/Resources/config/parameters.yml
/report
*.db
*.sql
*.log
